<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet/less" type="text/css" href="../styles/main.less" />
    <script defer src="https://cdn.jsdelivr.net/npm/less@4.1.1" ></script>
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer type="text/javascript" src="../library/ds.js"></script>
    <script defer type="text/javascript" src='../javascript/examples.js'></script>
    <title>Demo With DS.js</title>
 </head>
 <body>
  <div id="root">
  </div>
 </body>
</html>
