<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet/less" type="text/css" href="../styles/main.less" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet/less" type="text/css" href="../styles/demo.less" />
    <script defer src="https://cdn.jsdelivr.net/npm/less@4.1.1" ></script>
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer type="text/javascript" src="../library/ds.js"></script>
    <script defer type="text/javascript" src='../javascript/examples.js'></script>
    <title>Demo With DS.js</title>
  </head>
  <body>
    <h1 class='title'>DS.js Alpha Release Demo Version</h1>
    <p class='subtitle'>Author: Yu Xue <i class="fa fa-github" onClick="window.open('https://github.com/Yuuuuuu-xue');"></i></p>
    <p class='subtitle'>Date: 2021-11-20</p>

    <p class="subtitle">Tech stack:</p>
    <p class='text-body'>
      This library is mostly written in <strong>TypeScript</strong> with <strong>Less</strong> as the stylesheet.
      <br />
      This library did not use Canvas API or SVG elements. Instead, it modifies the DOM directly for creating graphs.
    </p>

    <p class="subtitle">About this release:</p>
    <p class='text-body'>
      Most of the functionalities are already implemented. On the next release, it will mostly be focused on styles (i.e. different types of vertex and overall styles) and provide more user-friendly endpoints for the user creating graphs.
    </p>

    <p class="subtitle">Goal:</p>
    <p class="text-body">
      Its goal is to help developers to draw and visualize existing data structures, mainly graphs and trees (since a tree is also a type of a graph).
    </p>

    <p class="subtitle">Usecase:</p>
    <ul>
      <li class="text-body">
        For the website that is similar to LeetCode that provides data structures related coding problems.
        The web app can use this library to draw graphs as a supplementary to explain a question or a solution.
      </li>
      <li class="text-body">
        lt can be used for web apps that want to visualize the map. The edge could be a street and the intersection will be a street intersection.
      </li> 
      <li class="text-body">
        The library could also be used in social networks web apps such as Facebook or LinkedIn. It provides functionalities for end-users to visualize their networks where the vertex represents the user and an edge between two vertices represents two users are connected. Thus the user can view their connected users and their connected users’ network. And the different stages could be the network for each month so users can visualize how their network is changing and growing for a period of time.
      </li>
    </ul>

    <p class="subtitle">Library documentation:</p> 
    <div id="instructions">
    </div>

    <p class='subtitle'>Example of using the library</p>
    <div id='example'>
    </div>

    <p class='subtitle'>Output</p>
    <div id="root">
    </div>
    
  </body>
</html>
