// Constants
@buttonRadius: 100px;
@canvasBorder: crimson;
@dialogBorder: salmon;
@inactiveColor: rgb(65, 65, 65);
@activeColor: #24973f;
@buttonBorder: 5px;
@white: white;
@black: black;
@arrowSize: 17px;

/****************** MIXINS ******************************/
.absolute-horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.absolute-vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.button {
  border-radius: 20px;
  background: @white;
  padding: 20px 10px;
  font-size: 1.3em;
  font-weight: bold;
  border: 2px solid @canvasBorder;

  &.enable {
    &:hover {
      background: @canvasBorder;
      color: @white;  
    }
  }
}

.reset {
  p, ul, li, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
}

.border {
  position: relative;
  padding: 5px;
  overflow: auto;
}

.title {
  z-index: -1;
  opacity: 0.4;
}

/************* END ********************/

.hidden {
  display: none;
}

.ds-dialog {
  .reset();
  .border();
  border: 2px solid @dialogBorder;

  .ds-dialog-background-title {
    .title();
  } 
}


.ds-canvas {
  .reset();
  .border();
  border: 2px solid @canvasBorder;



  .ds-canvas-button {
    .button();
    .absolute-vertical-center();
    
    &.ds-canvas-next {
      right: 10px;

    }

    &.ds-canvas-prev {
      left: 10px;
    }

    &.disable {
      opacity: 0.3;
    }
  }


  .ds-canvas-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
    top: 1%;
    .absolute-horizontal-center();
  }

  .ds-canvas-curr-page {
    .absolute-horizontal-center();
    bottom: 10px;
    font-size: 1.2em;
  }

  .ds-canvas-background-title {
    .title();
  }

  .edge {
    position: absolute;
    z-index: 1;

    &::after {
      position: absolute;
      content: '';
      bottom: -@arrowSize;
      right: 0;
      width: 0;
      height: 0;
      transform: translate(-48px, 0px);
      border-top: @arrowSize solid transparent;
      border-bottom: @arrowSize solid transparent;
    }
    &.active {
      border: 2px solid @activeColor;

      &::after {
        border-left: @arrowSize solid @activeColor;
      }
    }

    &.inactive {
      border: 2px solid @inactiveColor;

      &::after {
        border-left: @arrowSize solid @inactiveColor;
      }
    }
  }

  .vertex {
    position: absolute;
    width: @buttonRadius;
    height: @buttonRadius;
    border-radius: 50%;
    z-index: 2;

    &.active {
      background-color: @activeColor;
      color: @white;
      border: @buttonBorder solid @activeColor;
    }

    &.inactive {
      background-color: @white;
      color: @black;
      border: @buttonBorder solid @inactiveColor;
    }
  }
};
