// Constants
@buttonRadius: 100px;
@canvasBorder: crimson;
@inactiveColor: rgb(65, 65, 65);
@activeColor: #24973f;
@buttonBorder: 5px;

.ds-canvas {
  p, ul, li, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  position: relative;
  padding: 5px;
  overflow: auto;
  border: 1px solid @canvasBorder;

  .vertex {
    position: absolute;
    width: @buttonRadius;
    height: @buttonRadius;
    border-radius: 50%;
    background: transparent;

    &.active {
      border: @buttonBorder solid @activeColor;
    }

    &.inactive {
      border: @buttonBorder solid @inactiveColor;
    }
  }
};
