@import '../../variable.scss';

.home {
  .title {
    font-size: 14vw;
    padding: 5vh; 
    text-align: center;
    color: $primary-color;
    font-family: $primary-font;
  }
  
  .source-code-button {
    display: block;
    text-align: end;
  }
  
  .description {
    text-align: center;
    font-size: 3rem;
    margin: 100px 20px;
    color: $red-3;
    font-family: $secondary-font;
  }
  
  .source-code-button {
    position: absolute;
    top: 2%;
    right: 2%;
  }
}