@import '../../variable.scss';

.app {
  .title {
    font-size: 20vw;
    padding: 5vh; 
    text-align: center;
    color: $red-2;
  }
  
  .source-code-button {
    display: block;
    text-align: end;
  }
  
  .description {
    text-align: center;
    font-size: 3rem;
    margin: 100px 20px;
    color: $red-3;
  }
  
  .source-code-button {
    position: absolute;
    top: 2%;
    right: 2%;
  }
}