@import '../variable.scss';

.layout {
  .title { 
    text-align: center;
    font-size: 4em;
    color: $primary-color;
  }

  .subtitle {
    font-size: 2.5em;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 20px;
    color: $secondary-color;
  }

  .description {
    font-size: 1.2em;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .code {
    width: 80%;
  }
}